<div class="modal fade" id="modalAdd" aria-hidden="true" aria-labelledby="modalAdd" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAdd">Add Cron Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/action/add" onsubmit="formSubmit();return false;" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="interval" class="form-label">Interval (seconds)</label>
                        <input type="number" class="form-control" id="interval" name="interval" min="0" required>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Link</label>
                        <input type="url" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="advancedReq" name="advancedReq" value="on">
                        <label class="form-check-label" for="advancedReq">
                            Advanced Request
                        </label>
                    </div>
                    <div id="fieldReq" style="display: none">
                        <div class="mb-3">
                            <label for="method" class="form-label">Method</label>
                            <select name="method" id="method" class="form-control">
                                <option selected>GET</option>
                                <option>POST</option>
                                <option>PUT</option>
                                <option>PATCH</option>
                                <option>DELETE</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="config" class="form-label">Config for Axios</label>
                            <textarea name="config" id="config" cols="30" rows="10" class="form-control">{
  "data": {
    "post_1": "val1",
    "post_2": "val2"
  },
  "headers": {
    "content-type": "application/x-www-form-urlencoded"
  }
}</textarea>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="advancedRes">
                        <label class="form-check-label" for="advancedRes">
                            Advanced Response
                        </label>
                    </div>
                    <div id="fieldRes" style="display: none">
                        <div class="mb-3">
                            <label for="response" class="form-label">If response that:</label>
                            <textarea name="response" id="response" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="intervalRes" class="form-label">Set interval that:</label>
                            <input type="number" class="form-control" id="intervalRes" name="intervalRes" min="0">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'form-script.twig' %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const advancedReq = document.querySelector("#advancedReq");
        const fieldReq = document.querySelector("#fieldReq");
        const advancedRes = document.querySelector("#advancedRes");
        const fieldRes = document.querySelector("#fieldRes");
        advancedReq.addEventListener("click", () => {
            toggleVisibility(advancedReq.checked, fieldReq);
        });
        advancedRes.addEventListener("click", () => {
            toggleVisibility(advancedRes.checked, fieldRes);
        });
    });
</script>

