{% extends "layout.twig" %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="modal-body">

                <form action="/action/edit" onsubmit="formSubmit();return false;" autocomplete="off">
                    <input type="hidden" name="id" value="{{ id }}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ job.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Link</label>
                        <input type="url" class="form-control" id="link" name="link" value="{{ link }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="interval" class="form-label">Time Interval</label>
                        <input type="number" class="form-control" id="interval" name="interval" min="0"
                               value="{{ job.interval }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function buttonsDisabled(disabled) {
            const buttons = document.getElementsByTagName("button");
            for (let i = 0; i < buttons.length; i++)
                buttons[i].disabled = disabled;
        }

        function formSubmit() {
            buttonsDisabled(true);
            const form = document.querySelector("form");
            const formData = new URLSearchParams(new FormData(form)).toString();
            axios.post(form.getAttribute("action"), formData)
                .then(res => {
                    showToast(res.data.status, res.data.message);
                    if (res.data.status === "success")
                        setTimeout(() => {
                            window.location.href = "/";
                        }, 2500);
                    else
                        buttonsDisabled(false);
                })
                .catch(error => {
                    buttonsDisabled(false);
                    showToast("error", "An error occurred!");
                    console.log(error);
                });
        }
    </script>
{% endblock %}

