PORT=4043 # Port number for the application to run on (non-docker)
BASE_URL="https://example.com" # Replace with your application's public URL
SECRET_KEY="cd6a80f49e5a5443fd88b8c731174885eb35e7158b004817567ab233b07a7fe9" # Replace with a secure random key

PASSWORD_ENABLED="true" # Enable or disable password authentication
PASSWORD="admin123" # Set the password for authentication

SSO_ENABLED="false" # Enable or disable Passokey authentication https://github.com/mahelbir/passokey
SSO_URL=""
SSO_CLIENT_ID=""
SSO_CLIENT_SECRET=""