PORT=4043 # Port number for the application to run on (non-docker)
BASE_URL="https://example.com" # Replace with your application's public frontend URL

SECRET_KEY="change_this_to_a_secure_random_string"

PASSWORD_ENABLED="true" # Enable or disable password authentication
PASSWORD="admin123" # Set the password for authentication

SSO_ENABLED="false" # Enable or disable Passokey authentication https://github.com/mahelbir/passokey
SSO_URL=""
SSO_CLIENT_ID=""
SSO_CLIENT_SECRET=""